/*******************************************
*TABLE OF CONTENTS
*=================
*1. DEFAULT OVERRIDES
*2. HEADER
*3. MAIN
*********************************************/


/*===========================================================
/* 1. DEFAULT OVERRIDES */
/*=========================================================*/


h1 {
    position: absolute;
    left: -10000px;
}
p {
    font-family: 'Roboto', sans-serif;
}

label {
    font-family: 'Roboto', sans-serif;
}

/*===========================================================
/* 2. HEADER */
/*=========================================================*/

#logo {
    max-height: 200px;
}

/*===========================================================
/* 3. MAIN */
/*=========================================================*/

legend {
    font-family: 'Roboto', sans-serif;
}